<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>CANDIDATES LIST</title>

<!-- <link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" /> -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
	integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--Search builder code starts-->


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/searchbuilder/1.4.0/js/dataTables.searchBuilder.min.js"></script>
<script
	src="https://cdn.datatables.net/datetime/1.2.0/js/dataTables.dateTime.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/searchbuilder/1.4.0/css/searchBuilder.dataTables.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/datetime/1.2.0/css/dataTables.dateTime.min.css">

<script>
	$(document).ready(function() {
		$('#doctorTable').DataTable({
			dom : 'Qlfrtip',
			searchBuilder : {
				columns : [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14 ]
			}
		});
	});
</script>

<!--Search builder code ends-->



<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>
<script
	src="https://cdn.datatables.net/searchbuilder/1.4.0/js/dataTables.searchBuilder.min.js"></script>
<style >
.image {
    background-image: url(/image/listBackground.jpg);
    background-repeat: no-repeat;
    background-size:3000px;
}

#back {
    border-radius: 50%;
    line-height: 35px;
    width: 40px;
    font-size: 25pt;
    font-family: tahoma;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 21px;
    position: absolute;
    top: 0;
    left: 0;
}
</style>
</head>

<body class="image">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button id="back"  onclick="history.back()"> &laquo;</button>
				<a class="navbar-brand" id="anchor" th:href="@{/home}"> Go To
					Home Page</a> <a class="navbar-brand" id="anchor" th:href="@{/logout}">Logout
				</a>


			</div>
		</div>
	</nav>
	<br>
	<br>
	<br>
	<div th:insert="sideBar :: header"></div>
	<div style="padding: 50px;">

		<h3>CANDIDATES LIST</h3>
		

		<hr />
		<br /> <br />
		<table class="table table-bordered table-striped" id="doctorTable">

			<thead>
				<tr>
					<th><label>SelectAll</label><input type="checkbox" id="ckbCheckAll" /></th>
					<th>candidateName</th>
					<th>email</th>
					<th>mobileNumber</th>
					<th>highQualification</th>
					<th>cgpa</th>
					<th>roleAppliedFor</th>
					<th>alternateEmail</th>
					<th>experience</th>
					<th>Expected Ctc</th>
					<th>Current Ctc</th>
					<th>Alternate Mobilenumber</th>
					<th>status</th>
					<th>Created By</th>
					<th>domain</th>
					<th>Resume</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="candidate : ${candidate}">

					<td> <input type="checkbox" class="checkBoxClass" 
						th:value="${candidate.getCandidateId}"></td>
					<td th:text="${candidate.candidateName}" />
					<td th:text="${candidate.email}" />
					<td th:text="${candidate.mobileNumber}" />
					<td th:text="${candidate.highQualification}" />
					<td th:text="${candidate.cgpa}" />
					<td th:text="${candidate.roleAppliedFor}" />
					<td th:text="${candidate.alternateEmail}" />
					<td th:text="${candidate.experience}" />
					<td th:text="${candidate.expectedCtc}" />
					<td th:text="${candidate.currentCtc}" />
					<td th:text="${candidate.alternateMobileNumber}" />
					<td th:text="${candidate.status}" />
					<td th:text="${candidate.user.getUsername()}" />
					<td th:text="${candidate.domain.domainName}" />

					<td><a
						th:href="@{/downloadFile(candidateId=${candidate.candidateId})}"
						class="btn btn-success">Download</a></td>
					<td style="display: flex;"><a
						th:href="@{/showUpdateCandidate(candidateId=${candidate.candidateId})}"
						class="btn btn-info">Edit</a> <a
						th:href="@{/deleteCandidate(candidateId=${candidate.candidateId})}"
						class="btn btn-danger ml-2">Delete</a></td>
				</tr>
			</tbody>

		</table>
		<a th:href="@{/home}" class="btn btn-danger ml-2">Home</a> <a
			id="save_value" class="btn btn-primary" href="javascript:delay('/addschedule')">Scheduled</a>


	</div>
	<script>
	
	
		$(function() {
			$('#save_value').click(function() 
					{

				var val = [];
				$(':checkbox:checked').each(function(i)
				{
					var a=$(this).val()
					if(/^[0-9]+$/.test(a))
					{
						val.push($(this).val());
						
					}
					
				});
				val1 = JSON.stringify(val);
				console.log('=> '+val1);

				
				$.ajax({

					url : "http://localhost:9091/ajaxPost",

					type : "POST",

					data : JSON.stringify(val),

					dataType : "json",

					contentType : "application/json; charset=utf-8",

					mimeType : 'application/json',

					success : function(data) {

						console.log(data);

						return false;
F
					}

				});
			});

		});
	</script>

<script >
$(document).ready(function () {
    $("#ckbCheckAll").click(function () {
        $(".checkBoxClass").prop('checked', $(this).prop('checked'));
    });
});

function delay (URL) {
    setTimeout( function() { window.location = URL }, 2000 );
}
</script>
</body>

</html>