<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>CANDIDATES LIST</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
			
		<div style="padding: 50px ;">
		
			<h3>CANDIDATES LIST</h3>
			
			<hr/>
			<br/><br/>
			<table class="table table-bordered table-striped" id="doctorTable">
		
				<thead>
					<tr>
						<th>candidateName</th>
						<th>email</th>
						<th>mobileNumber</th>
					 	<th>highQualification</th>
						
						<th>cgpa</th>
						<th>roleAppliedFor</th>
						<th>alternateEmail</th>
                        <th>experience</th>
						<th>status</th>
						<th>Created By</th>
                        <th>domain</th>
                        <th>Resume</th>
                        <th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="candidate : ${candidate}">
                        <!--@Id
	private Integer candidateId;
	private String candidateName;
	private String email;
	private Long mobileNumber;
	private String highQualification;
	private Float cgpa;
	private String roleAppliedFor;
	private String alternateEmail;
	private Float experience;
	private String resume; 
	private String status;
	
	@JoinColumn(name = "userId")
	@ManyToOne
	private User user;
	
	@JoinColumn(name = "domainId")
	@OneToOne
	private Domain domain;-->
						<td th:text="${candidate.candidateName}" />
						<td th:text="${candidate.email}" />
						<td th:text="${candidate.mobileNumber}" />
                        <td th:text="${candidate.highQualification}" />
						<td th:text="${candidate.cgpa}" />
						<td th:text="${candidate.roleAppliedFor}" />
						<td th:text="${candidate.alternateEmail}" />
						<td th:text="${candidate.experience}" />
						<td th:text="${candidate.status}" />
						<td th:text="${candidate.user.getUsername()}" /> 
                        <td th:text="${candidate.domain.domainName}" />
                        
                        <td  >
							<a th:href="@{/downloadFile(candidateId=${candidate.candidateId})}" class="btn btn-success">Download</a>
							</td>
						<td style="display: flex;">
							<a th:href="@{/showUpdateCandidate(candidateId=${candidate.candidateId})}" class="btn btn-info">Update</a>
							
							<a th:href="@{/deleteCandidate(candidateId=${candidate.candidateId})}" class="btn btn-danger ml-2">Delete</a>
						</td>
					</tr>
				</tbody>
				
			</table>
			<a th:href="@{/home}" class="btn btn-danger ml-2">Home</a>
		</div>
		
		
	</body>
	
</html>