<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>COMPLETED LIST</title>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
			
		<div class="container">
		
			<h3>INTERVIEW COMPLETED LIST</h3>
			
			<hr/>
			
			<br/><br/>
				<div >
			<table class="table table-bordered table-striped" id="Table">
			
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Mail Id</th>
						<th>Phone</th>
						<th>Role Applied</th>
						<th>Domain</th>
						<th>Experience</th>
						<th>Status</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="schedule : ${schedule}">
						<td th:each="candidate : ${schedule.Candidate}" th:text="${candidate.candidateId}" />
						
						<td th:each="candidate : ${schedule.Candidate}" th:text="${candidate.candidateName}" />
						<td th:each="candidate : ${schedule.Candidate}" th:text="${candidate.email}" />
						<td th:each="candidate : ${schedule.Candidate}" th:text="${candidate.mobileNumber}" />
						<td th:each="candidate : ${schedule.Candidate}" th:text="${candidate.roleAppliedFor}" />
						<td th:each="candidate : ${schedule.Candidate}" th:text="${candidate.domain.domainName}" />						
						<td th:each="candidate : ${schedule.Candidate}" th:text="${candidate.experience}" />
						<td th:each="candidate : ${schedule.Candidate}" th:text="${candidate.status}" />
						
						<td>
							<a th:href="@{#}" class="btn btn-info">Feedback</a>
						</td>
						
						
						<!-- <td th:text="${Candidate.name}" />
						<td th:text="${Candidate.mailId}" />
						<td th:text="${Candidate.mobileNumber}" />
						
						
						<td>
					    <span th:each="secDoc:${Candidate.roleApplied}">
					    	<span th:text=${secDoc.jobRoleName}></span>
					    	</span>
					    </td>
						
						
						<td>
					    <span th:each="secDoc:${Candidate.technology}">
					    	<span th:text=${secDoc.technologyName}></span>
					    	</span>
					    </td>
						
						
						<td th:text="${Candidate.experience}" />
						<td th:text="${Candidate.status}" /> -->
						
						<!-- <td>
							<a th:href="@{/showUpdateCandidate(candidateId=${Candidate.candidateId})}" class="btn btn-info">Update</a>
							
							<a th:href="@{/deleteCandidate(candidateId=${Candidate.candidateId})}" class="btn btn-danger ml-2">Delete</a>
						</td> -->
					</tr>
				</tbody>
				
			</table>
			</div>
			<!-- <div class="alert alert-danger" th:if="${#lists.isEmpty(Candidate)}">	
			<a href="#" class="close" data-dismiss="alert" onclick="$('.alert').hide()" aria-label="close">X</a>
			<span th:text='${"no candidate available"}'></span>
			</div> -->
					
					<a th:href="@{/home}" class="btn btn-danger ml-2">Home</a>
		</div>
		
		
	</body>
	
</html>