
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}">

<script
	src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
	
<style type="text/css">


label {
	color: infobackground;
}
label.error {  
    color: red;  
    font-size: 1rem;  
    display: block; 
    } 
    h5{
    color:yellow;}

	#anchor
   {
        padding-left: 400;
        font-weight: bold;
      color: white;
  }
	</style>

	<script>  
$(document).ready (function () {  
  $("#basic-form").validate ();  
});  
</script>  


<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">


</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>  
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>
<body class="background2">

<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header"
				style="font-family: sans-serif; font-style: normal;">
				<a class="navbar-brand" href="#" th:href="@{/login}"
					style="padding-left: 1000px; color: white;"><b><i style="font-family: sans-serif;   font-style: normal;">
							Home</i></b></a> <a class="navbar-brand"
					style="font-family: sans-serif; color: white;"
					href="https://www.clayfin.com;"><b><i style="font-family: sans-serif; font-style: normal;padding-left: 1	0px"> Logout </i></b></a>

			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">



				<h1 style="color:white; text-align:center; margin-top:0px">Domain Registration</h1>

				<form th:action="@{/saveDomain}" id="basic-form" method="post" th:object="${domain}">


					<div class="form-group">
						<label class="control-label" for="name">Domain Name </label> 
						<input
							id="name" class="form-control" th:field="*{domainName}"
							required autofocus="autofocus" />

						<p class="alert alert-danger"
							th:if="${#fields.hasErrors('domainName')}"
							th:errors="*{domainName}" />
					</div>

					
					
					<br><br>
					<h5 ><b style="color:white">Enter Sub Category List Seperated by ","</b></h5>
					<input name="category" type="text" class="form-control"  required autofocus="autofocus" ></input>

					<br><br>
					<div class="form-group">
						<button type="submit" class="btn btn-success" style="background-color:black">Register</button>

					</div>
					<input type="hidden" th:field="*{domainId}" />

				</form>
			</div>
		</div>
							
		
	</div>
	
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(
				function() {

					var multipleCancelButton = new Choices(
							'#choices-multiple-remove-button', {
								removeItemButton : true,
								maxItemCount : 100,
								searchResultLimit : 100,
								renderChoiceLimit : 100
							});

				});
	</script>
</body>
</html>


