<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>DOMAIN CATEGORY LIST</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
			
			<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
			
			<style>
	#anchor
   {
       
        font-weight: bold;
      color: white;
  }
  
.image {
    background-image: url(/image/listBackground.jpg);
    background-repeat: no-repeat;
}
#back {
    border-radius: 50%;
    line-height: 35px;
    width: 40px;
    font-size: 25pt;
    font-family: tahoma;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 21px;
    position: absolute;
    top: 0;
    left: 0;
}
</style>
			
	</head>
	
	<body class="image">
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button id="back"  onclick="history.back()"> &laquo;</button>
				<a class="navbar-brand" id="anchor" th:href="@{/home}"> Go
					To Home Page</a> <a class="navbar-brand" id="anchor"
					th:href="@{/logout}">Logout </a>

					
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	
	
	
			<div th:insert="sideBar :: header"></div>
		<div class="container">
		
			<h3>DOMAIN CATEGORY LIST</h3>
			
			<hr/>
			
			<table class="table table-bordered table-striped" id="Table">
			
				<thead>
					<tr>
						<th>Id</th>
						<th>Domain Category Name</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="domainCategory : ${domainCategory}">
						<td th:text="${domainCategory.domSubCatId}" />
						<td th:text="${domainCategory.domSubCatName}" />
						
						
						<td>
							<a th:href="@{/showUpdateDomainCategory(domSubCatId=${domainCategory.domSubCatId})}" class="btn btn-info">Update</a>
							
							<a th:href="@{/deleteDomainCategory(domSubCatId=${domainCategory.domSubCatId})}" class="btn btn-danger ml-2">Delete</a>
						</td>
					</tr>
				</tbody>
				
			</table>
			
								<a th:href="@{/home}" class="btn btn-danger ml-2">Home</a>
			
		</div>
		
		
	</body>
	
</html>