<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>HISTORY LIST</title>
<!-- added for  model starts-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--  model ends -->
<style>
#back 
{

    line-height: 28px;
    font-size: 46px;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 21px;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    color: white;
}

#button {
	background-color: #4caf50;
	border-radius: 5px;
	margin-left: 650px;
	margin-bottom: 5px;
	color: white;
}

table thead tr th {
	/* background-color : gray; */
	min-width: 100px;
	position: relative;
}

.filter {
	position: absolute;
	border: solid 1px;
	top: 20px;
	background-color: white;
	width: 100px;
	right: 0;
	display: none;
}

#anchor {
	font-weight: bold;
	color: white;
}

.image {
	background-image: url('/image/ListBackground.jpg');
	background-repeat: no-repeat;
	background-size: inherit;
}

body {
	font-family: cambria, sans-serif;
}
.modelsp{
font-size: 20.8px;
font-weight: bold;
}
.modelSpanClass{
font-size: 20.8px;
}

th {
	white-space: nowrap;
	font-size: larger;
}

td {
	font-size: larger;
}

[data-title]:hover:after {
            opacity: 1;
            transition: all 0.2s ease 0.6s;
            visibility: visible;
        }
        [data-title]:after
         {
            content: attr(data-title);
            position: absolute;
            padding: 100px 50px 100px 50px;
             white-space: pre;
            color: #222;
            border-radius: 5px;  
            box-shadow: 0px 0px 15px #222;  
            background-image: -webkit-linear-gradient(
                                top, #f8f8f8, #cccccc); 
                                  
            background-image: -moz-linear-gradient(
                                top, #f8f8f8, #cccccc);  
                                  
            background-image: -ms-linear-gradient(
                                top, #f8f8f8, #cccccc); 
                                  
            background-image: -o-linear-gradient(
                                top, #f8f8f8, #cccccc);
                                  
            visibility: hidden;
        }
        }

</style>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js">
	
</script>
</head>

<body class="image">
	<nav class="navbar navbar-inverse navbar-sticky-top"
		style="background-color: black;padding:0.5rem 100rem;">
		<div class="container">
			<div class="navbar-header">
				<button id="back" onclick="history.back()">&laquo;</button>
				<a class="navbar-brand" id="anchor"
					style="color: white; margin-left:-1518px;" th:href="@{/home}">Home</a>
				<a class="navbar-brand" id="anchor" style="margin-left: 2937px;"
					th:href="@{/logout}">Logout </a>


			</div>
		</div>
	</nav>
	<br>
	<br>
	<div th:insert="sideBar :: header"></div>
	<div style="padding: 10px;">

		<div>
			<!-- class="card" id="makepdf"> -->
			<!-- Modal content-->
    
      </div>
      
			<h3>HISTORY LIST</h3>

			<hr />

			<br /> <br />
			<table class="table table-bordered table-striped" id="table">

				<thead>
					<tr>
					<th>Candidate Name</th>
					<th>EmailId</th>
					<th>Mobile Number</th>
					<th>Qualification</th>
					<th>Role</th>
					<th>Experience</th>
					<th>Status</th>
					<!-- <th>Domain</th> -->
					<th>more</th>
					<th>Feedbacks</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="history : ${historyList}">
						<td class="customerIDCell"th:text="${history.candidateName}" />
						<td class="customerIDCell"th:text="${history.email}" />
							<td class="customerIDCell"th:text="${history.mobileNumber}" />
							<td class="customerIDCell"th:text="${history.highQualification}" />
							<td class="customerIDCell"th:text="${history.roleAppliedFor}" />
							<td class="customerIDCell"th:text="${history.experience}" />
							<td class="customerIDCell" th:text="${history.status}" />
						<!-- 	<td class="customerIDCell" th:text="${history.domainName}"></td>	 -->
							<td><button data-toggle="modal" th:attr="onclick=|upload('${history.candidateId}','${history.candidateName}','${history.alternateMobileNumber}','${history.alternateEmail}','${history.userName}','${history.currentCtc}','${history.expectedCtc}')|" class="btn btn-info btn-sm" data-target="#myModal" >
more</button>  </td>
							<td><button data-toggle="modal" th:attr="onclick=|uploadFeedback('${history.feedbackId}','${history.rating}','${history.feed_back}','${history.interviewerFbStatus}','${history.hrFbStatus}','${history.domainRatings}')|" class="btn btn-info btn-sm" data-target="#myModal1" >
feedback</button>&nbsp;</td>
						<!-- <td th:text="${history.rating}" />
						<td th:data-title="${history.feed_back}">Feedback</td>
						<td th:text="${history.interviewerFbStatus}">
						<td th:text="${history.hrFbStatus}" />
												
						<td class ="zoom" id="hope"th:data-title="${history.domainRatings}">Ratings:</td>
			 		<td class="customerIDCell"th:text="${history.cgpa}" />
					
					<td class="customerIDCell"th:text="${history.alternateEmail}" />
					
					<td class="customerIDCell" style="white-space: nowrap;" th:text="${history.currentCtc} +' LPA'" />
					<td class="customerIDCell" style="white-space: nowrap;" id="expectedCtcLength"th:text="${history.expectedCtc}+' LPA'" />
					<td class="customerIDCell" th:text="${history.alternateMobileNumber}" />
					
					<td class="customerIDCell"th:text="${history.getUserName()}" /> -->
					</tr>
				</tbody>

			</table>

		</div>
<div>
		<a th:href="@{/generateAllPdfFile} " target="_blank"
			class="btn btn-primary ml-2">PrintAll</a> <br> <br> <a
			th:href="@{/home}" class="btn btn-danger ml-2">Home</a>
	</div>     
       <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h1 class="modal-title">Additional Info</h1>
        </div>
        <div class="modal-body">
           <div style='font-family: cambria, sans-serif'class="modal-body">
             <span class="modelsp">Candidate Id:</span><span class ="modelSpanClass" id="spanId"> </span><br>
            <span class="modelsp">Name :</span><span class ="modelSpanClass"id="spanName"> </span><br>
            <span class="modelsp">Other EmailId :</span><span class ="modelSpanClass" id="othEmailId"> </span><br>
            <span class="modelsp">Other Mobile Number :</span><span class ="modelSpanClass"id="othMobileNumber"> </span><br>
             <span class="modelsp">CTC:</span><span class ="modelSpanClass" id="ctcId"> </span><br>
             <span class="modelsp">ECTC:</span><span class ="modelSpanClass" id="ectcId"> </span><br>
             <span class="modelsp">Created By :</span><span class ="modelSpanClass" id="createdBy"> </span><br>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h1 class="modal-title">Feedback Info</h1>
        </div>
        <div class="modal-body">
          <div style='font-family: cambria, sans-serif'class="modal-body">
             <span class="modelsp">Feedback Id:</span><span class ="modelSpanClass" id="spanFeedId"> </span><br>
            <span class="modelsp">Overall Rating :</span><span class ="modelSpanClass"id="spanOverallRatings"> </span><br>
            <span class="modelsp">Feedback:</span><span class ="modelSpanClass" id="spanFeedback"> </span><br>
            <span class="modelsp">Interviewer Status:</span><span class ="modelSpanClass"id="spanInterviewerStatus"> </span><br>
             <span class="modelsp">HRHead Status:</span><span class ="modelSpanClass" id="spanHr"> </span><br>
             <span class="modelsp">Sub Domain Ratings:</span><span class ="modelSpanClass" id="spanDomRatings"> </span><br>
            
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  

		<script type="text/javascript">
	function upload(id,name,otherMobileNo,otherEmailId,createdBy,ctc,ectc,cgpa){
		 console.log("obj"+otherMobileNo);
		
		console.log("data type"+typeof candidate);
		 document.getElementById('spanId').innerText=id;
		 document.getElementById('spanName').innerText=name;
		 document.getElementById('othMobileNumber').innerText =otherMobileNo;
		 document.getElementById('othEmailId').innerText=otherEmailId;
		 document.getElementById('createdBy').innerText=createdBy;
		 document.getElementById('ctcId').innerText=ctc+'LPA';
		 document.getElementById('ectcId').innerText=0+'LPA';
		 document.getElementById('cgpaId').innerText=cgpa;
	} 
	function uploadFeedback(id,rating,feedback,interviewerStatus,hrHeadStatus,subDomainRatings){
		console.log("fffffffffffffeedback Model")
		 console.log("obj"+id);
		console.log("data type"+typeof candidate);
		var hrStatus;
		if(hrHeadStatus===null){
			hrStatus='None';
		}else{
			hrStatus=hrHeadStatus;
		}
		var subDomRate=subDomainRatings.replaceAll('=',' : ').replaceAll('{',' ').replaceAll('}',' ').replaceAll('"','');
		 document.getElementById('spanFeedId').innerText=id;
		 document.getElementById('spanOverallRatings').innerText=rating;
		 document.getElementById('spanFeedback').innerText =feedback;
		 document.getElementById('spanInterviewerStatus').innerText=interviewerStatus;
		 document.getElementById('spanHr').innerText=hrStatus;
		 document.getElementById('spanDomRatings').innerText=subDomRate;
		
	} 
	</script>
	<!-- <script>
	$(document).ready(function() {
		$("table td:nth-child(4)").each(function(index, element) {
			$(element).attr("data-title",$(element).attr("data-title").replaceAll('&amp;', '\n'));
			/* $(element).html($(element).html().replaceAll('&amp;', ' '));
			$(element).html($(element).html().replace('First-Interviewer:', '<strong>First-Interviewer:</strong>'));
			$(element).html($(element).html().replace('Second-Interviewer:', '<strong>Second-Interviewer:</strong>'));
			$(element).html($(element).html().replace('Fourth-Interviewer:', '<strong>First-Interviewer:</strong>'));
			$(element).html($(element).html().replace('HrHead-Feedback: ', '<strong>HrHead-Feedback:</strong>')); */
		});
		$("table td:nth-child(5)").each(function(index, element) {
			$(element).attr("data-title",$(element).attr("data-title").replaceAll('&amp;', '\n'));
			/* $(element).html($(element).html().replaceAll('&amp;', ' ')); */
			/* $(element).html($(element).html().replace('First-Interviewer:', '<strong>First-Interviewer:</strong>'));
			$(element).html($(element).html().replace('Second-Interviewer:', '<strong>Second-Interviewer:</strong>'));
			$(element).html($(element).html().replace('Fourth-Interviewer:', '<strong>First-Interviewer:</strong>'));
			$(element).html($(element).html().replace('HrHead-Feedback: ', '<strong>HrHead-Feedback:</strong>')); */
		});
		$("table td:nth-child(8)").each(function(index, element) {
			/* $(element).html($(element).html().replace('{', ''));
			$(element).html($(element).html().replace('}', ''));
			$(element).html($(element).html().replace('"', '')); */
			console.log(index);
			console.log(element);
			console.log($("#hope").attr("data-title"));
			$(element).attr("data-title",$(element).attr("data-title").replaceAll('=',' : ').replaceAll('{',' ').replaceAll('}',' ').replaceAll(',','\n'));

		});
	});
	/* $(document).ready(function() {
		$("table td:nth-child(8)").each(function(index, element) {
			console.log(index + '  00')
			console.log($(element).text())
			$(element).html($(element).html().replaceAll('=', ' : '));
			$(element).html($(element).html().replaceAll('=', ' : '));
			$(element).html($(element).html().replaceAll('{', ' '));
			$(element).html($(element).html().replaceAll('}', ' '));
			$(element).html($(element).html().replaceAll(',', '<br>'));
		 $(element).html($(element).html().replace('Interviewer-Feedback:','<strong>Interviewer-Feedback:</strong>'));
			$(element).html($(element).html().replace('HrHead-Feedback:','<strong>HrHead-Feedback:</strong>'));
		});
		
	});  */
	/* $(document).ready(function() {
		/* $("#yourDivId span:first").hide(); */
		/* $("#yourDivId").mouseleave(function(){$("#yourDivId span").hide()}); */
		/* $("#yourDivId span").hide();
		$("#yourDivId").mouseenter(function(){$("#yourDivId span").show()}); 
		$("#yourDivId").mouseleave(function(){$("#yourDivId span").hide()});
		$(document).ready(function() {
			$("table td:nth-child(8)").each(function(index, element) {
				console.log(index + '  00')
				console.log($(element).text())
				
				$("#yourDivId span").html($("#yourDivId span").html().replaceAll('=', ' : '));
				$("#yourDivId span").html($("#yourDivId span").html().replaceAll('{', ' '));
				$("#yourDivId span").html($("#yourDivId span").html().replaceAll('}', ' '));
				$("#yourDivId span").html($("#yourDivId span").html().replaceAll(',', '<br>'));
				
				
			 
			}); hope
		});
	});  */
	/* $(document).ready(function(){
		$("table td:nth-child(8)").each(

		function(index, element) {
			var title1=$("#hope").attr(("data-title"));
			console.log(index);
			console.log(title1)
		    $("#hope").attr("data-title",title1.replaceAll('=',' : ').replaceAll('{',' ').replaceAll('}',' ').replaceAll(',','\n'));
			});
		}); */ 
	
	$("#yourDivId span").mouseenter(function(){$(this).show()}); 
		
	</script> -->
</body>

</html>