<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>INTERVIEWER HOME</title>


<link rel="stylesheet" 
type="text/css" 
href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	<style>
		.CC{
			width: 200PX;
		}
		
		body {
  background-image: url('https://cdn3.careeraddict.com/uploads/article/59949/interviews-150-smart-questions.jpg');
}
h1{

color:red;

}

	#anchor
   {
        padding-left: 400;
        font-weight: bold;
      color: white;
  }
	</style>
	
	
	
	
	
	
	
	
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">

				 <a class="navbar-brand" id="anchor"
					th:href="@{/logout}">Logout </a>

					
			</div>
		</div>
	</nav>
<br>
	<br>
	<div class = "container" align="center" >
		<div class = "row">
			
				
				<h1><u>Interviewer Home page</u> </h1>

				<form th:action="@{/login}" method="post">

					<a th:href="@{/viewschedules}" class="btn btn-primary CC">See Schedules </a><br><br>

					<a th:href="@{/giveFeedback}" class="btn btn-success CC">Give Feedback</a><br><br>

					
					
				</form>
				
		</div>
							<!-- <a th:href="@{/home}" class="btn btn-danger ml-2">Home</a> -->
		
	</div>
</body>
</html>