<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>SCHEDULE LIST</title>

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />
<!--Search builder code starts-->


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/searchbuilder/1.4.0/js/dataTables.searchBuilder.min.js"></script>
<script
	src="https://cdn.datatables.net/datetime/1.2.0/js/dataTables.dateTime.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/searchbuilder/1.4.0/css/searchBuilder.dataTables.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/datetime/1.2.0/css/dataTables.dateTime.min.css">

<script>
	$(document).ready(function() {
		$('#Table').DataTable({
			dom : 'Qlfrtip',
			searchBuilder : {
				columns : [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14 ]
			}
		});
	});
</script>

<!--Search builder code ends-->

<style>
#back {
	border-radius: 50%;
	line-height: 35px;
	width: 40px;
	font-size: 25pt;
	font-family: tahoma;
	font-weight: bold;
	margin-top: 11px;
	margin-left: 21px;
	position: absolute;
	top: 0;
	left: 0;
}

#Table {
	width: 1300px;
	align-content: center;
}

#anchor {
	margin-left: 410;
	font-weight: bold;
	color: white;
}

.image {
	background-image: url('/image/ListBackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
</style>


</head>

<body class="image">
	<nav class="navbar navbar-inverse navbar-fixed-top"
		style="background-color: black;">
		<div class="container">
			<div class="navbar-header">
				<button id="back" onclick="history.back()">&laquo;</button>
				<a class="navbar-brand" id="anchor" th:href="@{/home}"> Go To
					Home Page</a> <a class="navbar-brand" id="anchor" th:href="@{/logout}">Logout
				</a>


			</div>
		</div>
	</nav>
	<br>
	<br>
	<div th:insert="sideBar :: header" th:object="${role}"
		th:if="${role.getRole()=='hr'}"></div>
	<div style="padding: 100px;">

		<h3>SCHEDULE LIST</h3>

		<hr />

		<br /> <br />
		<table class="table table-bordered table-striped" id="Table">

			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Time</th>
					<th>Duration</th>
					<th>Meeting Link</th>
					<th>Type</th>
					<th>Interviewer</th>
					<th>Candidate</th>
					<th>Status</th>
					<th>Actions</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="schedule : ${schedule}">
					<td th:text="${schedule.scheduleId}" />
					<td th:text="${schedule.scheduleDate}" />
					<td th:text="${schedule.scheduleTime}" />
					<td th:text="${schedule.duration}+' Minutes'" />
					<td th:text="${schedule.meetingLink}" />
					<td th:text="${schedule.interviewType}" />
					<td th:text=${schedule.user.username} />

					<td><span th:each="candidate : ${schedule.candidate}">
							<span th:text=${candidate.candidateName}> </span>
					</span></td>
					<td><span th:each="candidate : ${schedule.candidate}">
							<span th:text=${candidate.status}> </span>
					</span></td>


					<td style="display: flex;">

						<div class="dropdown">
							<button type="button" class="btn btn-primary dropdown-toggle"
								data-toggle="dropdown">Status</button>
							<div class="dropdown-menu">
								<a th:each="candidate : ${schedule.candidate}"
									th:href="@{/updateStatus(candidateId=${candidate.candidateId},status=COMPLETED)}"
									class="dropdown-item">Completed</a> <a
									th:each="candidate : ${schedule.candidate}"
									th:href="@{/updateStatus(candidateId=${candidate.candidateId},status=INCOMPLETE)}"
									class="dropdown-item">InComplete</a>
							</div>
						</div>
						<div th:each="role:${role}"></div>
						<div th:if="${role.getRole()=='hr'}" style="display: flex;">
							&nbsp;&nbsp;<a
								th:href="@{/showUpdateSchedule(scheduleId=${schedule.scheduleId})}"
								class="btn btn-info">Edit</a> <a
								th:href="@{/deleteSchedule(scheduleId=${schedule.scheduleId})}"
								class="btn btn-danger ml-2">Delete</a>
						</div>


					</td>
				</tr>
			</tbody>
		</table>
		<div style="display: flex;">
			<div th:if="${role.getRole()!='hr'}">
				<a th:href="@{/giveFeedback}" class="btn btn-success ml-2">Give
					FeedBack</a>
			</div>
			<a th:href="@{/home}" class="btn btn-danger ml-2">Home</a>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>