<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Users LIST</title>

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous" />
<style>
#anchor {
	
	font-weight: bold;
	color: white;
}

#back {
	border-radius: 50%;
	line-height: 35px;
	width: 40px;
	font-size: 25pt;
	font-family: tahoma;
	font-weight: bold;
	margin-top: 11px;
	margin-left: 21px;
	position: absolute;
	top: 0;
	left: 0;
}
body{
 font-family: cambria , sans-serif;
}
</style>
<!--Search builder code starts-->


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script
	src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdn.datatables.net/searchbuilder/1.4.0/js/dataTables.searchBuilder.min.js"></script>
<script
	src="https://cdn.datatables.net/datetime/1.2.0/js/dataTables.dateTime.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/searchbuilder/1.4.0/css/searchBuilder.dataTables.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/datetime/1.2.0/css/dataTables.dateTime.min.css">

<script>
	$(document).ready(function() {
		$('#doctorTable').DataTable({
			dom : 'Qlfrtip',
			searchBuilder : {
				columns : [ 0, 1, 2, 3, 4, 5, 6, 7 ]
			}
		});
	});
</script>
<!--Search builder code ends-->

<style>
.image {
	background-image: url('/image/ListBackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
</head>

<body class="image">
	<nav class="navbar navbar-inverse navbar-fixed-top"
		style="background-color: black;">
		<div class="container">
			<div class="navbar-header">
				<button id="back" onclick="history.back()">&laquo;</button>
				<a class="navbar-brand" id="anchor" th:href="@{/home}">
					Home</a> <a class="navbar-brand" id="anchor" th:href="@{/logout}">Logout
				</a>


			</div>
		</div>
	</nav>
	<br>
	<br>
	<div th:insert="sideBar :: header"></div>
	<div style="padding: 15PX;">

		<h3>Users LIST</h3>

		<hr />

		<br /> <br />
		<table class="table table-bordered table-striped" id="doctorTable">

			<thead>
				<tr>
					<th>UserName</th>
					<th>Password</th>
					<th>Role</th>
					<th>EmailId</th>
					<th>Mobile Number</th>
					<th>Designation</th>
					<th>Experties</th>
					<th>Candidates Added</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${user}">
					<td th:text="${user.username}" />
					<td th:text="${user.password}" />
					<td th:text="${user.role}" />
					<td th:text="${user.email}" />

					<td><span th:each="userDetails:${user.userDetails}"> <span
							th:text=${userDetails.getMobileNumber()}></span>
					</span></td>
					<td><span th:each="userDetails:${user.userDetails}"> <span
							th:text=${userDetails.getDesignation()}></span>
					</span></td>
					<td><span th:each="userDetails:${user.userDetails}"> <span
							th:text=${userDetails.getExperties()}></span>
					</span></td>
					<td><span th:each="candidate:${user.candidate}"> <span
							th:text="${candidate.getCandidateName()}+','"></span>
					</span></td>

					<td style="display: flex;"><a
						th:href="@{/showUpdateUser(userId=${user.userId})}"
						class="btn btn-info">Edit</a> <!-- 
							<a th:href="@{/showUpdateUserDetails(userDetailsId=${user.getUserDetails().getUserDetailsId()})}" class="btn btn-info">Update</a>
							 --> <a th:href="@{/deleteUser(userId=${user.userId})}"
						class="btn btn-danger ml-2">Delete</a></td>
				</tr>
			</tbody>

		</table>
		<a th:href="@{/home}" class="btn btn-danger ml-2">Home</a>
	</div>


</body>

</html>